.miniMode {
    padding: 1rem;
    margin: 0 25%;
    border: 1px dashed slategrey;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.newPost {
    margin: 0 25%;
    /* display: block;
    text-align: center; */
    display: flex;
    flex-direction: column;
    border: 1px dashed slategrey;
    border-radius: 0.5rem;
    padding: 30px;
    /* align-items: center; */
}

.newPost__input {
    width: inherit;
    margin: 0.5rem 0;
}

.newPost__description {
    width: 100%;
    height: 5em;
}

.newPost__drop {
    padding: 1rem;
    color: gray;
    font-size: 1rem;
    border: 1px dotted lightgrey;
    text-align: center;
}

.newPost__upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0 0 0;
}

#title {
    width: 400px;
}

#url {
    width: 400px;
}

#story {
    width: 400px;
}